.aboutPage {
  background-color: rgb(138, 160, 116);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutMe {
  font-size: 3em;
  color: white;
}

.aboutText {
  color: white;
  width: 30%;
  font-size: 1.5em;
}

@media screen and (max-width: 818px) {
  .aboutPage {
    background-color: rgb(138, 160, 116);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aboutMe {
    font-size: 12vw;
    color: white;
    text-align: center;
  }

  .aboutText {
    color: white;
    width: 80%;
    font-size: 1.5em;
    text-align: center;
  }
}
