.beginningPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.beginningTitle {
  font-size: 3em;
  color: rgb(250, 241, 228);
}

.beginningText {
  font-size: 2em;
  color: rgb(250, 241, 228);
}
