.skillsPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skillsTitle {
  font-size: 3.4em;
  color: rgb(250, 241, 228);
}

.skillsContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.iconsContainer {
  width: 30%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  list-style: none;
}

.outsideIcon {
  border: 2px solid rgb(89, 110, 68);
  background-color: rgba(60, 78, 43, 0.377);
  border-radius: 50%;
  padding: 0.4em;
  margin: 0.4em;
}

.icons {
  height: 3em;
  width: 3em;
  margin: 0.5em;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 2.5em;
  margin-top: 1em;
}

.descriptionSkill {
  overflow: hidden;
  position: relative;
  background-color: rgba(38, 46, 31, 0.7);
  border-radius: 15%;
  width: 50vw;
  height: 40vw;
  margin-bottom: 1em;
  margin-left: 7vw;
}

.skillsText {
  text-align: start;
  position: relative;
  color: rgb(250, 241, 228);
  font-size: 30px;
  left: -1em;
}

.backgroundIcon {
  opacity: 0.5;
  position: absolute;
  left: 3.45em;
  top: 0;
  width: 80%;
  height: auto;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.arrowButton {
  display: flex;
  color: #c2ffe9;
  background-color: #0f704d;
  padding: 10px 16px;
  border-radius: 20px;
  transition: all 0.3s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
}

.arrowButton > .arrow {
  width: 6px;
  height: 6px;
  border-right: 2px solid #c2ffe9;
  border-bottom: 2px solid #c2ffe9;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 6px;
  transition: all 0.3s ease;
}

.arrowButton > .arrow::before {
  display: block;
  background-color: currentColor;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all 0.3s ease;
  content: "";
  right: 0;
}

.arrowButton:hover > .arrow {
  transform: rotate(-45deg) translate(4px, 4px);
  border-color: text-hover-color;
}

.arrowButton:hover > .arrow::before {
  opacity: 1;
  width: 8px;
}

.arrowButton:hover {
  background-color: #003522;
  color: #fff;
}

.arrowButtonLeft {
  display: flex;
  color: #c2ffe9;
  background-color: #0f704d;
  padding: 10px 16px;
  margin-right: 11em;
  border-radius: 20px;
  transition: all 0.3s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
}

.arrowButtonLeft > .arrow {
  width: 6px;
  height: 6px;
  border-right: 2px solid #c2ffe9;
  border-bottom: 2px solid #c2ffe9;
  position: relative;
  transform: rotate(135deg);
  margin: 0 6px;
  transition: all 0.3s ease;
}

.arrowButtonLeft > .arrow::before {
  display: block;
  background-color: currentColor;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all 0.3s ease;
  content: "";
  right: 0;
}

.arrowButtonLeft:hover > .arrow {
  transform: rotate(135deg) translate(4px, 4px);
  border-color: text-hover-color;
}

.arrowButtonLeft:hover > .arrow::before {
  opacity: 1;
  width: 8px;
}

.arrowButtonLeft:hover {
  background-color: #003522;
  color: #fff;
}
